* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

.slide-fwd-center {
    animation: slide-fwd-center .45s cubic-bezier(.25, .46, .45, .94) both
}

#app {
    height: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}